
/app/logs/*/*/*
/app/cache/*/*
nbproject/
/vendor/
temp/
logs/*
*.bak
info.php
.vscode
composer.lock
public/assets/img/photos/*.png
app/views/assets/img/photos/*.png
public/assets/img/photos/*.jpg
app/views/assets/img/photos/*.jpg
public/assets/img/photos/*.jpeg
app/views/assets/img/photos/*.jpeg
public/assets/files/Anexos/
app/views/assets/files/Anexos/
*.db
app/views/assets/

