{% extends "base.twig" %}
{% block body %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
            Mesas
                                
                    
        </h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex" style="justify-content: right;">
                {# <h6 class="m-0 font-weight-bold text-primary">
                                    Mesas
                                </h6> #}
                
                <button id="btnAddMesa" type="button" class="btn btn-sm btn-primary align-self-end">
                    Adicionar Mesa        
                </button>
                <button id="btnRefreshTable" type="button" class="btn btn-sm btn-info ml-3">
                    <i class="fa fa-refresh"></i>
                </button>                
                <button id="btnFilterActive" type="button" class="btn btn-sm btn-primary bg-gradient-success ml-3">
                    <i class="fa-regular fa-square-check"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                Código
                            </th>
                            <th>
                                Descrição
                            </th>
                            <th>
                                Cliente
                            </th>
                            <th>
                                Valor
                            </th>
                            <th>
                                &nbsp;
                            </th>
                            <th style="display:none">
                                &nbsp;
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    {% include "modais/addMesa.twig" %}
{% endblock %}
{% block scripts %}
    <script src="assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="assets/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="assets/js/mesas.js"></script>
{% endblock %}

{% block blococss %}

    <style>
        .dataTables_filter{
            display: none;
        }
    </style>
{% endblock %}
